@import "invoker-tokens/index.scss";

.root {
  background: $light-alpha-100;
}

.greet {
  color: $brand-primary-200;
}

.testContainer {
  background: $brand-primary-200;
}

.title {
  margin: $space-stack-sm;
}

.description {
  margin: $space-stack-l;
}

.leftSection {
  top: 60px;
  padding: $space-l $space-ml;
}

.rightSection {
  top: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.link {
  display: block;
  margin: $space-vertical-m;
  width: fit-content;
}

.sidebarTitle {
  color: $dark-alpha-60;
  text-transform: uppercase;
  margin: $space-sm 0 $space-ml;
}

.mainContainer {
  padding-top: $space-l;
}
